<div class="dashboard">

  <section class="navigation">
    <img src="../assets/dash/logo.png" alt="LOGO" class="logo">
  

  <div class="icons">

    <span class="material-symbols-outlined">
      view_cozy
    </span>

    <span class="material-symbols-outlined">
      task
    </span>

  </div>
  <img src="../assets/dash/logo.png" class="user_img">
</section>
  <section class="main">
    <div class="search">
      <form action="">
        <input type="text" name="search" id="search" placeholder="Search Here">
        <span class="material-symbols-outlined">
          search
        </span>
      </form>
      <div class="notification">
        <span class="material-symbols-outlined">
          notification_important
        </span>
        <span class="material-symbols-outlined">
          edit
        </span>
      </div>
    </div>

    <div class="title">
      <h1>Out Of The box</h1>
    </div>

    <div class="core_of _dash">
      <router-outlet></router-outlet>
    </div>
  </section>


  <section class="secondary">

  </section>

</div>