body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

 .dashboard .navigation{
  display: flex;
  justify-content: space-between;
  width:100%;
  margin-top:10px ;
 }
 .dashboard .navigation img.logo{

  width:50px;
  height:50px ;
  border-radius: 10px;
 }

 .dashboard .navigation img.user_img{

  width:50px;
  height:50px ;
  border-radius: 10px;
 }

 .dashboard .navigation .material-symbols-outlined {

 margin-left: 5px;
 margin-top: 5px;
 font-size: 30px;
 color: rgb(114, 102, 102);
 }

  .dashboard .main .search form{
    margin-top: 50px;

  }